<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zeer0 Emails | Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form id="email-contents">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">SES Email Client</li>
            <li><button @click="getEmails" v-if="authTokenIsValid()" type="button" class="hollow button">Refresh</button></li>
            <li><a href="#" class="secondary hollow button" @click="loginLogoutAction">{{this.authTokenIsValid() ? 'Logout' : 'Login'}}</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
          </ul>
        </div>
      </div>
      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x grid-padding-x">
          <div class="cell medium-3">
            <h5 class="subheader">Email List</h5>
            <dl v-for="(email, idx) in emailSet" style='cursor: pointer' :key="`email-idx-`+idx" :id="idx" @click="showEmail(email.Key)">
              <a href="#email-content" v-if="email.emailContent">
                <dt data-magellan>{{ email.emailContent.subject }} <span class="badge warning" v-if="email.emailContent.headers['X-SES-Spam-Verdict'] !== 'PASS'">spam</span>
                  <span class="badge alert" v-if="email.emailContent.headers['X-SES-Virus-Verdict'] !== 'PASS'">virus</span></dt>
                <dd><p class="h6 text-right subheader"> (to {{ email.emailContent.to.email}} from {{email.emailContent.from.email}})</p>
                </dd>
                <hr>
              </a>
              <span v-else>
                <dt data-magellan class="text warning">...{{email.Key.substring(50)}}</dt>
                <dd><p class="h6 text-right subheader">(check with your email administrator)</p>
                </dd>
                <hr>
              </a>
            </dl>
          </div>
          <div class="cell auto" id="email-content">
            <h5 class="subheader">Email Preview</h5>
            <span v-if="!iframeSrc" class="lead text-center">{{ statusMsg }}</span>
            <iframe frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100vh;width:100%;" height="100vh" width="100vw" v-bind:src="iframeSrc" v-else></iframe>
          </div>
        </div>
      </div>
    </form>
    <script>
      const API_GW_URL = 'https://api.zeer0.com/v001';
      const EMAIL_CONTENT_URL = `${API_GW_URL}/email`;
      const EMAILS_LIST_URL = `${API_GW_URL}/email/today`; //just today's emails
      const DEFAULT_FQDN = (new URL(document.location)).host;
      const LOGIN_REDIRECT_URL = `${(new URL(document.location)).origin}/email`;
      const LOGOUT_REDIRECT_URL = `${(new URL(document.location)).origin}/email`;
      const COGNITO_URL1 = 'https://auth.zeer0.com'; 
      const COGNITO_URL = 'https://zeer0.auth.ap-south-1.amazoncognito.com/';
      const CLIENT_ID = '7iia3e63t239ul2el9vrqfkb3v';
      const RESPONSE_TYPE = 'token';
      const SCOPE = 'email+openid';
      const COGNITO_LOGIN_URL = `${COGNITO_URL}/login?client_id=${CLIENT_ID}&response_type=${RESPONSE_TYPE}&scope=${SCOPE}&redirect_uri=${LOGIN_REDIRECT_URL}`;
      const COGNITO_LOGOUT_URL = `${COGNITO_URL}/logout?client_id=${CLIENT_ID}&logout_uri=${LOGOUT_REDIRECT_URL}`;
      $(document).foundation();
      var app = new Vue({
        el: '#email-contents',
        data(){
          return {
            fqdn: DEFAULT_FQDN,
            statusMsg: 'Email contents will appear here',
            emailContent: undefined,
            emailSet: undefined,
            authDetails: undefined,
            loginUrl: COGNITO_LOGIN_URL,
            logoutUrl: COGNITO_LOGOUT_URL,
          }
        },
        mounted(){
          this.setAuthDetails();
          if(!this.authTokenIsValid()) this.redirectToLogin();
        },
        computed: {
          iframeSrc: function(){
            if(this.emailContent){
              const blob = new Blob([this.emailContent], { type: 'text/html' });
              return URL.createObjectURL(blob);
            }
            return undefined;
          }
        },
        watch: {
          emailSet: function(neww, old) {
            if(!old && neww){
              this.showEmail(neww[0].Key);
            }
          },
          authDetails: function(neww, old){
            if(!old && neww){
              this.getEmails();
            } 
            if(!neww){
              this.redirectToLogin();
            }
          }
        },
        methods:{
          setAuthDetails: function(){
            this.authDetails = undefined;
            let hash = (new URL(document.location)).hash;
            let loc = hash ? document.location.href.replace(/#/, '?') : document.location;
            let params = (new URL(loc)).searchParams;
            if(params.get('id_token') && params.get('access_token') && params.get('expires_in') && this.tokenIsValid(params.get('id_token'))){
              this.authDetails = {
                'id_token': params.get('id_token'),
                'access_token': params.get('access_token'),
              };
            }
          },
          tokenIsValid: function(idToken){
            try{
              let x = JSON.parse(atob(idToken.split('.')[1]));
              return Date.now() < x.exp * 1000;//converting exp to msec
            } catch(e){
              this.statusMsg = `Error: ${e}`;
            }
            return false;
          },
          authTokenIsValid: function(){
            return this.authDetails && this.tokenIsValid(this.authDetails.id_token);
          },
          redirectToLogin: function(){
            window.location.href = this.loginUrl;
          },
          logout: function() {
            window.location.href = this.logoutUrl;
          },
          loginLogoutAction: function(){
            //if auth details are not available, user should be able to login
            if(!this.authTokenIsValid()) this.redirectToLogin();
            //if auth details are available, user should be able to log out
            if(this.authTokenIsValid()) this.logout();
          },
          showEmail: function(emlId){
            let x = this.emailSet.find((e) => e.Key === emlId);
            if(x && x.emailContent && x.emailContent.html){
              this.emailContent = x.emailContent.html;
            } else {
              this.emailContent = `We could not download the contents of this email ${emlId}. This usually means the email isn't properly formatted. Your email admin should be able to help.`;
            }
          },
          getEmail: async function(emlId) {
            if(this.authTokenIsValid() && this.fqdn && emlId){
              let vm = this;
              let x = emlId.substring(this.fqdn.length + 1);
              return await axios({
                url: `${EMAIL_CONTENT_URL}?domain=${this.fqdn}&id=${x}`,
                headers: {'Authorization': this.authDetails.id_token}
              })
              .then( (response) => {
                return response.data;
              })
              .catch(e => {
                return undefined;
              });
            }
          },
          getEmails: async function() {
            this.statusMsg = 'Retrieving...';
            this.emailContent = undefined;
            if(this.authTokenIsValid() && this.fqdn){
              let vm = this;
              vm.emailSet = undefined;
              await axios({
                url: `${EMAILS_LIST_URL}?domain=${vm.fqdn}`,
                headers: {'Authorization': this.authDetails.id_token},
              })
              .then(async (response) => {
                if(response.data.Contents.length > 0){
                  return await Promise.all(response.data.Contents.map(async (email) => {
                    email.emailContent = await vm.getEmail(email.Key);
                    return email;
                  }));
                }
                vm.statusMsg = "Hooray! You haven't received any emails today. Lucky you!";
              })
              .then(values => {
                vm.emailSet = values.sort((a, b) => -a.Key.localeCompare(b.Key));
              });
            } else {
              this.statusMsg = 'Either access token or domain is missing. Have you forgotten to log in?';
            }
          },
        }
      })
    </script>
  </body>
</html>