<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>SES Template Display</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.738.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" integrity="sha256-aPeK/N8IHpHsvPBCf49iVKMdusfobKo2oxF8lRruWJg=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app">
      <div class="columns">
        <div class="column is-one-third notification box">
          <div class="container">
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="text" placeholder="AWS Key Id" v-model="accessKeyId">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="text" placeholder="AWS Secret Access Key" v-model="secretAccessKey">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <div class="select is-primary">
                  <select v-model="region">
                    <option disabled value="">Select AWS region</option>
                    <option value="ap-south-1">Mumbai, IN</option>
                    <option value="us-east-1">Virginia, USA</option>
                    <option value="us-east-2">Oregon, USA</option>
                  </select>
                </div>
              </div>
            </div>
            <div><button class="button is-medium is-primary is-outlined" :disabled="buttonShouldBeDisabled" @click="getTemplates">Get my SES templates</button></div>
            <div>
            <div v-if="templatesLength === 0">SES templates will appear here...</div>
              <div v-else>
                <div class="columns is-multiline is-mobile">
                  <div v-for="templateData in this.templates.TemplatesMetadata">
                    <button class="column is-one-quarter button is-text" @click="getTemplate(templateData.Name)">{{templateData.Name}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="column" >
        <span v-if="!iframeSrc" class="lead text-center">Template will appear here...</span>
          <div v-else>
            <iframe frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100vh;width:100%;" height="100vh" width="100vw" v-bind:src="iframeSrc"></iframe>
          </div>
      </div>
    </div>
  </div>
  </body>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        accessKeyId: "AKIAZRTOB7U55ZX4WVKK" || undefined,
        secretAccessKey : "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" || undefined,
        region: "",
        ses: undefined,
        templates: undefined,
        nextToken: undefined,
        nextTokenBecameNull: false,
        iframeSrc: undefined,
      },
      watch: {
        accessKeyId: function(n, o){
          this.getSESObject(n != o);
        },
        secretAccessKey: function(n, o){
          this.getSESObject(n != o);
        },
        region: function(n, o){
          this.getSESObject(n != o);
        },
        nextToken: function(n, o){
          if(!n && o){
            this.nextTokenBecameNull = true;
          }
        },
      },
      computed: {
        templatesLength: function(){
          return this.templates && this.templates.TemplatesMetadata ? this.templates.TemplatesMetadata.length : 0;
        },
        buttonShouldBeDisabled: function(){
          return this.nextTokenBecameNull || !(this.accessKeyId && this.secretAccessKey && this.region !== "");
        }
      },
      methods: {
        getSESObject: function(refresh) {
          if(this.accessKeyId && this.secretAccessKey && this.region !== ""){
            if(!this.ses || refresh){
              this.ses = new AWS.SES({
                apiVersion: '2010-12-01',
                accessKeyId: this.accessKeyId,
                secretAccessKey: this.secretAccessKey,
                region: this.region
              });
              this.templates = {};
            }
          } else {
            this.ses = undefined;
            this.templates = {};
          }
        },
        setTemplateMetadataReactive: function(arr){
          Vue.set(app.templates, 'TemplatesMetadata', arr);
        },
        getTemplate: _.throttle(
          async function(tName){
            console.log(`async ${tName}`);
            if(this.ses){
              var params = { TemplateName: tName };
              let vm = this;
              await this.ses.getTemplate(params).promise()
                .then(template => {
                  const blob = new Blob([template.Template.HtmlPart], { type: 'text/html' });
                  vm.iframeSrc = URL.createObjectURL(blob);
                })
            }
          }, 2000, {'leading': true}),
        getTemplates: _.throttle(
          async function(){
            if(this.ses){
              var params = { MaxItems: 10 };
              if(this.templates && this.templates.NextToken){
                params.NextToken = this.templates.NextToken;
              }
              let vm = this;
              await this.ses.listTemplates(params).promise()
                .then(templates => {
                  if(!vm.templates.TemplatesMetadata) vm.setTemplateMetadataReactive([]);
                  vm.setTemplateMetadataReactive(_.union(vm.templates.TemplatesMetadata, templates.TemplatesMetadata));
                  Vue.set(vm.templates, 'NextToken', templates.NextToken ? templates.NextToken : undefined);
                  this.nextToken = templates.NextToken ? templates.NextToken : undefined;
                })
            }
          }, 2000, {'leading': true})
      }
    })
  </script>
</html>
